
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

 

</head>
<body>
    <h2>用户信息表</h2>

    <div style="margin:20px 100px auto; "></div>
    <div id="tb">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="Add()">增加</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-cut" plain="true" onclick="Delete()">删除</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="Edit()">修改</a>
        用户名：<input id="txtSUName" type="text" />&nbsp;&nbsp;备注：<input id="txtSURemark" type="text"/><input type="button"  value="搜索" onclick="btnSearch()"/>
    </div>


   
        <table id="dg" title="用户表" class="easyui-datagrid" style="width:700px;height:400px;margin:50px 50px;" 
               idField="ID" pageSize="5" pageList="[5,10,15]" fitColumns="true" rownumbers="true" pagination="true" toolbar="#tb" url="/UserInfo/GetUserInfo">
            <thead>
                <tr>
                    <th field="ck" checkbox="true" align="left" width="50"></th>
                    <th field="ID" title="编号" width="80">编号</th>
                    <th field="UName" title="姓名" width="120">姓名</th>
                    <th field="UPwd" title="密码" width="120">密码</th>
                    <th field="Remark" title="备注" width="120">备注</th>
                    <th field="SubTime" title="时间" width="80" formatter="formatdate" >时间</th>
                </tr>
            </thead>
            
        </table>
   
        
    @*</div>*@

    <div id="addDiv">
        @using (Ajax.BeginForm("AddUserInfo", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterAdd" }, new { id = "addForm" }))
        {
            <table>
                <tr>
                    <td>用户名</td>
                    <td><input type="text" name="UName" />
                    <td>

                </tr>
                <tr>
                    <td>密码</td>
                    <td><input type="password" name="UPwd" /></td>
                </tr>
                <tr>
                    <td>备注</td>
                    <td><input type="text" name="Remark" /></td>
                </tr>
            </table>
        }
    </div>
        <div id="editDiv">
            @*@using (Ajax.BeginForm("EditUserInfo", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterEdit" }, new { id = "editForm" }))
            {
                <table>
                    
                    <tr><td>ID</td><td><input id="txtID" name="ID" type="hidden" /></td>
                         <td><input id="txtSubTime" name="SubTime" type="hidden" /></td>
                    </tr>
                    <tr>
                        <td>用户名</td>
                        <td><input type="text" name="UName" id="txtUName"/>
                        <td>

                    </tr>
                    <tr>
                        <td>密码</td>
                        <td><input type="text" name="UPwd" id="txtUPwd"/></td>
                    </tr>
                    <tr>
                        <td>状态</td>
                        <td><input type="text" name="DelFlag" id="txtDelFlag" /></td>
                    </tr>
                    <tr>
                        <td>排序</td>
                        <td><input type="text" name="Sort" id="txtSort" /></td>
                    </tr>
                    <tr>
                        <td>备注</td>
                        <td><input type="text" name="Remark" id="txtRemark"/></td>
                    </tr>
                </table>
            }*@

            <iframe id="editFrame" frameborder="0" scrolling="no" width="100%" height="100%"></iframe>
        </div>


    
    <script type="text/javascript">
        $(function () {
            $("#addDiv").css("display", "none");
            $("#editDiv").css("display", "none");
          
       
            
        });
        function btnSearch() {
            $("#dg").datagrid(
                "load", {
                    name: $("#txtSUName").val(),
                    remark: $("#txtSURemark").val()
                }
            );
        }
     
        function formatdate(date, row,index) {
          
            return (eval(date.replace(/\/Date\((\d+)\)\//gi,"new Date($1)"))).pattern("yyyy-M-d");
        }
        function Delete() {

            var rows = $("#dg").datagrid("getSelections");
            if (!rows || rows.length == 0) {
                $.messager.alert("提醒", "请选择删除记录", "error");
                return;
            }
            if ($.messager.confirm("提示", "确定删除吗", function (r) {
                if (r) {
                    //获取要删除的记录编号
                    var strid = "";
                    for (var i = 0; i < rows.length; i++) {
                        strid += rows[i].ID + ",";//1,2,3,

                    }

                    strid = strid.substr(0, strid.length - 1);//去掉最后的逗号

                    $.ajax({
                        url: "/UserInfo/DeleteUserInfo",
                        method: "Post",
                        data: { "strid": strid },
                        success: function (text) {
                            if (text == "OK") {
                                $("#dg").datagrid("reload");

                            }
                        }

                    });

                    //  $.messager.alert("提示","删除成功");
                }
            }));
        }

     
        function Add() {
            $("#addDiv").css("display", "block");
            $("#addForm input").val("");
            $("#addDiv").dialog({
                title: "添加信息",
                modal: true,
                collapsible: true,
                width: 300,
                height: 200,
                buttons: [{

                    text: "Add",
                    iconCls: "icon-ok",
                    handler: function () {
                        //  $.messager.alert("添加", "添加成功");
                        $("#addForm").submit();
                    }
                }, {
                    text: "Cancel",
                    handler: function () {
                        $("#addDiv").dialog("close");
                    }
                }]


            });
        }
        function afterAdd() {

            $("#addDiv").dialog("close");
            $("#dg").datagrid("reload");
           
        }

        function Edit() {
            var rows = $("#dg").datagrid("getSelections");
            

            if (rows.length != 1) {
                $.messager.alert("提示", "请选择一条数据进行修改");
                return;
            }

            $("#editDiv").css("display", "block");
            
                //$("#txtUName").val(rows[0].UName);
                //$("#txtUPwd").val(rows[0].UPwd);
                //$("#txtRemark").val(rows[0].Remark);
                //$("#txtID").val(rows[0].ID);
                //$("#txtSubTime").val(ChangeDateFormat(rows[0].SubTime));
                //$("#txtSort").val(rows[0].Sort);
            //$("#txtDelFlag").val(rows[0].DelFlag);
            $("#editFrame").attr("src", "/UserInfo/ShowEditInfo/?id=" + rows[0].ID);
                $("#editDiv").dialog({
                    title: "修改信息",
                    modal: true,
                    collapsible: true,
                    width: 450,
                    height: 550,
                    buttons: [{

                        text: "Edit",
                        iconCls: "icon-ok",
                        handler: function () {
                            $.messager.confirm("提示", "确定修改吗？", function (r)
                            {
                                if(r){
                                    //$("#editForm").submit();
                                    var childWindow = $("#editFrame")[0].contentWindow;//获取子窗体window对象

                                    childWindow.subEditForm();
                                }
                            }); 
                         
                            
                        }
                    }, {
                        text: "Cancel",
                        handler: function () {
                            $("#editDiv").dialog("close");
                        }
                    }]


                });
            
            

        }
        function afterEdit() {
            $("#editDiv").dialog("close");
            $("#dg").datagrid("reload");

        }


        //将序列化成json格式后日期(毫秒数)转成日期格式
        function ChangeDateFormat(cellval) {
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        }
    </script>
 
</body>


</html>
